@tailwind base;
@tailwind components;
@tailwind utilities;

:lang(en) {
  font-family: "Cascadia Mono", ui-monospace, SFMono-Regular, Menlo, Monaco,
    Consolas, "Liberation Mono", "Courier New", monospace;
}
